{% extends 'partials/base.html.twig' %}
{% block titlebar %}
    <h1><i class="fa fa-fw fa-envelope-open"></i> {{ "PLUGIN_NEWSLETTER.NEWSLETTER"|tu }}</h1>
{% endblock %}
{% block content %}
    <script src="{{ base_url_absolute }}/user/plugins/newsletter/admin/js/newsletter.js"></script>
    <span id="admin-page-load" data-ajax-name="ajax_action" data-ajax-url="/" data-onload="get_subs_count"></span>
    <div class="admin-block">
        <div class="subscriber-main-panel">
            <h2>You have (<span id="subscriber-count"></span>) subscribers.</h2>
            <p>{{ "PLUGIN_NEWSLETTER.UPDATE_LIST_HELP"|tu }}</p>
            <a class="button submit-update" data-action="update_list" href="#"><i class="fa fa-fw fa-file-text-o"></i>{{ "PLUGIN_NEWSLETTER.UPDATE_BTN_TXT"|tu }}</a>
            <hr />
            <p>{{ "PLUGIN_NEWSLETTER.MESSAGE_HELP"|tu }}</p>
            <form id="email-subscribers" method="POST" autocomplete="off">
                <label for="email_subject">{{ "PLUGIN_NEWSLETTER.EMAIL_SUBJECT_LABEL"|tu }}</label>
                <input id="email_subject" type="text" name="email_subject" autocomplete="off" />
                <label for="email_greeting">{{ "PLUGIN_NEWSLETTER.EMAIL_GREETING_LABEL"|tu }}</label>
                <input id="email_greeting" type="text" name="email_greeting" value="{{ "PLUGIN_NEWSLETTER.DEFAULT_GREETING"|tu }}" autocomplete="off" />
                <label for="body">{{ "PLUGIN_NEWSLETTER.EMAIL_BODY_LABEL"|tu }}</label>
                <textarea rows="15" id="body" autocomplete="off"></textarea>
            </form>
            <a class="button submit-email" data-action="email_subscribers" href="#"><i class="fa fa-fw fa-paper-plane-o"></i>{{ "PLUGIN_NEWSLETTER.SEND_BTN_TXT"|tu }}</a>
            <a class="button submit-email" data-action="email_admin" href="#"><i class="fa fa-fw fa-paper-plane"></i>{{ "PLUGIN_NEWSLETTER.SEND_BTN_ADM_TXT"|tu }}</a>
        </div>
    </div>
{% endblock %}


